<footer class="bg-gray-900">
  <div
    class="
      m-auto
      max-w-7xl
      w-full
      px-4
      py-10
      md:py-12
      flex flex-col
      text-sm
      space-y-5
      md:flex-row md:space-y-0 md:items-end md:justify-between
    "
  >
    <div class="flex flex-col">
      <img src="images/logo.png" alt="livebook" width="60" height="60" />
      <span class="mt-2 text-gray-50 text-xl font-semibold">Livebook</span>
      <span class="mt-1 text-gray-300"
        >Write interactive & collaborative code notebooks in Elixir</span
      >
    </div>
    <div class="md:hidden w-full border-t border-gray-700"></div>
    <div class="text-gray-200">
      Copyright 2021. All rights reserved.
      <a class="border-b-2 border-gray-200" href="https://dashbit.co/"
        >Dashbit</a
      >
    </div>
  </div>
</footer>
