<div class="mt-8 md:mt-14 w-full max-w-[600px] flex flex-col items-center">
  <div class="tabs w-full justify-between" data-tabs>
    <a class="tab active" href="#" data-target="#install-flyio">
      Using Fly.io
    </a>
    <a class="tab" href="#" data-target="#install-docker"> Using Docker </a>
    <a class="tab" href="#" data-target="#install-elixir"> Using Elixir </a>
  </div>
  <div class="mt-8 w-full p-4 rounded-2xl bg-white">
    <img src="images/window_buttons.png" alt="" width="36" height="8" />
    <!-- Tab contents -->

    <!-- * Fly.io instructions -->
    <div
      id="install-flyio"
      data-tab-content
      data-tab-active
      class="my-12 flex justify-center"
    >
      <a href="https://fly.io/launch/livebook">
        <img
          src="images/flyio_logo.svg"
          alt="launch on fly"
          height="60"
          width="60"
        />
      </a>
    </div>

    <!-- * Docker instructions -->
    <div
      id="install-docker"
      data-tab-content
      class="mt-12 flex flex-col space-y-5"
    >
      <!-- Step -->
      <div class="flex flex-col items-start space-y-1">
        <div class="text-gray-900 text-sm font-semibold">Step 1</div>
        <div>
          <a
            class="
              px-7
              py-2
              flex
              space-x-1
              items-center
              rounded-lg
              text-gray-600
              border-2 border-gray-400
            "
            href="https://docs.docker.com/get-docker/"
          >
            <img src="images/docker.svg" alt="" width="20" height="15" />
            <span class="text-sm font-medium">Install Docker</span>
          </a>
        </div>
      </div>
      <!-- Step -->
      <div class="flex flex-col space-y-1">
        <div class="text-gray-900 text-sm font-semibold">Step 2</div>
        <!-- prettier-ignore -->
        {{> code
              id="docker-run-livebook"
              code="docker run -p 8080:8080 --pull always livebook/livebook"
              isShell=true
            }}
      </div>
    </div>

    <!-- * Elixir instructions -->
    <div
      id="install-elixir"
      data-tab-content
      class="mt-12 flex flex-col space-y-5"
    >
      <!-- Step -->
      <div class="flex flex-col items-start space-y-1">
        <div class="text-gray-900 text-sm font-semibold">Step 1</div>
        <div>
          <a
            class="
              px-7
              py-2
              flex
              space-x-2
              items-center
              rounded-lg
              text-gray-600
              border-2 border-gray-400
            "
            href="https://elixir-lang.org/install.html"
          >
            <img src="images/elixir.svg" alt="18" width="10" />
            <span class="text-sm font-medium">Install Elixir</span>
          </a>
        </div>
      </div>
      <!-- Step -->
      <div class="flex flex-col space-y-1">
        <div class="text-gray-900 text-sm font-semibold">Step 2</div>
        <!-- prettier-ignore -->
        {{> code
              id="elixir-install-livebook"
              code="mix escript.install hex livebook"
              isShell=true
            }}
            {{> code
              id="elixir-run-livebook"
              code="livebook server"
              isShell=true
            }}
      </div>
    </div>
  </div>
</div>
