[build]
  publish = "dist/"
  command = "npm run build"

[build.processing.html]
  pretty_urls = true

[[headers]]
  for = "/badge/*"

  [headers.values]
    # Enable CORS for badge images
    Access-Control-Allow-Origin = "*"
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/assets/*"

  [headers.values]
    # Assets include checksum in the name, so we cache them for long
    Cache-Control = "public, max-age=31536000"

[[redirects]]
  from = "/releases/*"
  to = "https://livebook-releases.nyc3.cdn.digitaloceanspaces.com/:splat"
  status = 302
