@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-shadow-1 {
    box-shadow: 0 15px 80px -10px rgba(13, 24, 41, 0.25);
  }

  .custom-shadow-2 {
    box-shadow: 0 15px 80px -10px rgba(13, 24, 41, 0.6);
  }

  .custom-drop-shadow-1 {
    filter: drop-shadow(10px 10px 60px rgba(0, 0, 0, 0.5));
  }

  .placeholder-font-light::placeholder {
    @apply font-light;
  }
}

@layer components {
  /* Buttons */

  .button {
    @apply px-5 py-2 rounded-lg font-medium text-sm border border-transparent flex items-center justify-center text-center space-x-1.5 whitespace-nowrap transition duration-150 ease-in-out;
  }

  .button-cta {
    @apply px-8 py-3 rounded-xl font-medium whitespace-nowrap border border-transparent  items-center justify-center transition duration-150 ease-in-out flex;
  }

  .button-blue {
    @apply text-white bg-blue-600 hover:bg-blue-700 focus:bg-blue-700;
  }

  .button-gray {
    @apply text-gray-600 bg-gray-100 hover:bg-gray-50 focus:bg-gray-50;
  }

  .button-outlined {
    @apply border border-gray-300 hover:border-gray-100 text-gray-300 hover:text-gray-100 bg-transparent;
  }

  .button-outlined-gray {
    @apply border-gray-300 text-gray-600 bg-white hover:bg-gray-100 focus:bg-gray-100;
  }

  .button-pink {
    @apply bg-brand-pink hover:bg-gray-50 text-gray-100 hover:text-gray-700 hover:border hover:border-gray-100;
  }

  /* Custom scrollbars */

  .tiny-scrollbar::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }

  .tiny-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    @apply bg-gray-600;
  }

  .tiny-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }

  .tiny-scrollbar::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }

  /* Inputs */

  .input {
    @apply w-full bg-white border border-gray-300 rounded-xl py-3 px-4 text-sm md:text-base text-gray-900 placeholder-gray-600 font-medium placeholder-font-light focus:outline-none;
  }

  .checkbox-base {
    @apply h-5 w-5 appearance-none border border-gray-300 rounded text-blue-600 cursor-pointer align-bottom;
  }

  .checkbox-base:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
