---
import Layout from "../layouts/Layout.astro";

import Icon from "../components/Icon.astro";
import teamsIntroScreenshot from "../images/teams/intro-screenshot.png";
import featureOnPremiseNotebook from "../images/teams/feature-on-premise-notebook.png";
import featureSharedSecrets from "../images/teams/feature-shared-secrets.png";

const { isDarkMode } = Astro.props;
---

<Layout title="Teams" isDarkMode={true}>
  <section id="intro" class="bg-gray-900 overflow-x-hidden">
    <div class="m-auto max-w-7xl px-4 py-12">
      <div class="flex flex-col space-y-10 text-center items-center">
        <h2 class="max-w-2xl text-4xl font-light text-center text-gray-200">
          Livebook Teams amplifies Livebook’s capabilities with features
          designed for
          <span class="font-bold italic text-brand-pink"
            >team-based workflows.</span
          >
        </h2>
        <span class="text-lg text-center font-light text-gray-200 max-w-xl">
          Join our free beta program to gain early access to Livebook Teams and
          contribute to the development of the roadmap.
        </span>
        <a
          class="group px-6 py-4 flex items-center justify-center rounded-xl bg-gray-50 hover:bg-brand-pink text-gray-700 hover:text-gray-100 hover: border hover:border-gray-100 transition duration-150 ease-in-out"
          href="#create-account"
        >
          <Icon
            icon="arrow-right-line text-xl text-gray-700 group-hover:text-gray-100"
          />
          <span class="px-2 font-semibold">Create Account</span>
        </a>
        <img
          class="lg:max-w-5xl rounded-md custom-shadow-1"
          src={teamsIntroScreenshot}
          alt="Livebook teams screenshot"
        />
      </div>
    </div>
  </section>
  <section id="features" class="bg-gray-800">
    <div class="m-auto max-w-7xl px-4 py-16 lg:py-20">
      <div
        class="flex flex-col space-y-10 sm:space-y-16 text-center items-center"
      >
        <div class="m-auto max-w-2xl flex flex-col items-center">
          <img
            class="sm:max-w-lg"
            src={featureOnPremiseNotebook}
            alt="Feature: On-premise notebook deployment"
            width="713"
            height="216"
          />
          <h2
            class="text-gray-50 text-2xl sm:text-5xl leading-tight mt-8 sm:mt-10"
          >
            On premise notebook deployment
          </h2>
          <span class="text-gray-200 mt-6 sm:mt-8"
            >Deploy Livebook apps* on one or more machines within your
            infrastructure. Ideal for internal tools, data apps, data migration
            workflows, operations diagnostics, and other scenarios where a full
            custom app is excessive and a scrappy script is insufficient. Save
            your team's time compared to traditional app development processes.</span
          >
        </div>
        <div class="m-auto max-w-2xl flex flex-col items-center">
          <img
            class="sm:max-w-sm"
            src={featureSharedSecrets}
            alt="Feature: On-premise notebook deployment"
            width="571"
            height="247"
          />
          <h2
            class="text-gray-50 text-2xl sm:text-5xl leading-tight mt-8 sm:mt-10"
          >
            Shared Secrets <br class="hidden sm:block" />Management
          </h2>
          <span class="text-gray-200 mt-6 sm:mt-8"
            >Seamlessly share sensitive information* among team members,
            eliminating manual steps while maintaining security. Livebook Teams
            never gets access to your secrets; it receives them already
            encrypted with your shared team encryption key and keeps them as
            such. Avoid the hassle and vulnerability of sharing secrets through
            other channels and copy-pasting them to Livebook.</span
          >
        </div>
        <div class="m-auto max-w-2xl flex flex-col items-center">
          <h2 class="text-gray-50 text-2xl sm:text-5xl leading-tight mt-2">
            Fine-Grained Shared <br class="hidden sm:block" /> Secrets Access Controls
          </h2>
          <span class="text-gray-200 mt-6 sm:mt-8"
            >Control access to shared secrets on a per-notebook basis, creating
            a secure working environment. Livebook Teams automatically
            replicates these settings across your team, using your shared team
            encryption key to determine when a notebook is allowed to access
            specific shared secrets. Empower your team to protect sensitive
            information without the need to constantly manage permissions
            manually.</span
          >
        </div>
        <div>
          <div
            class="max-w-4xl border border-gray-500 rounded-t-[40px] text-center px-4 sm:px-12 py-12 lg:px-28 lg:py-16"
          >
            <div class="m-auto max-w-2xl flex flex-col items-center">
              <div class="flex flex-col text-gray-400">
                <Icon icon="flag-line text-xl" />
                <span class="mt-1 text-xs font-medium tracking-[0.2em]"
                  >ROADMAP</span
                >
              </div>
              <h2 class="text-gray-50 text-2xl leading-tight mt-2">
                Shape the Future <br class="hidden sm:block" /> of Livebook Teams
              </h2>
              <span class="lg:w-[90%] text-gray-200 mt-6"
                >Livebook Teams is currently in beta, offering a range of
                features designed to streamline the experience of using Livebook
                within a team. But we're not stopping here - we're actively
                exploring new ways to expand and improve Livebook Teams based on
                your needs and feedback as a beta user.</span
              >
              <a class="button button-blue mt-8">
                <span> Send Feeback</span>
              </a>
            </div>
          </div>
          <div
            class="border-r border-b border-l border-gray-500 rounded-b-[40px] pt-10 pb-16"
          >
            <span
              class="mt-1 text-xs font-medium tracking-[0.2em] text-gray-400"
              >SOME OF THE FEATURES WE’RE CONSIDERING</span
            >
            <div class="m-auto max-w-2xl grid grid-cols-4 mt-5">
              <div class="flex flex-col text-gray-400">
                <Icon icon="user-add-line text-xl text-blue-500" />
                <span class="mt-1 text-sm text-gray-200">Single Sign On</span>
              </div>
              <div class="flex flex-col text-gray-400">
                <Icon icon="remote-control-2-line text-xl text-brand-pink" />
                <span class="mt-1 text-sm text-gray-200">Access Controls</span>
              </div>
              <div class="flex flex-col text-gray-400">
                <Icon icon="calendar-2-line text-xl text-green-500" />
                <span class="mt-1 text-sm text-gray-200">Scheduling</span>
              </div>
              <div class="flex flex-col text-gray-400">
                <Icon icon="file-list-2-line text-xl text-red-600" />
                <span class="mt-1 text-sm text-gray-200">Audit Log</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="faq" class="bg-gray-900">
    <div
      class="m-auto max-w-7xl px-4 py-16 lg:py-20 flex flex-col items-center"
    >
      <h2 class="text-gray-50 text-4xl">Frenquently Asked Questions</h2>

      <div
        class="mx-auto w-[45%] mt-10 flex flex-col justify-start space-y-5 sm:space-y-7 md:space-y-10"
      >
        <!--Is Livebook Teams Free to use? -->
        <div class="space-y-2">
          <a class="flex justify-between">
            <h3 class="faq-question-btn faq-questions text-gray-200">
              Is Livebook Teams Free to use?
            </h3>
            <Icon
              id="faqIconDown"
              icon="arrow-drop-down-line text-xl text-gray-200"
              class="hidden"
            />
            <Icon
              id="faqIconUp"
              icon="arrow-drop-up-line text-xl text-gray-200"
            />
          </a>
          <span class="faq-answer space-y-3 text-sm mt-1 text-gray-400"
            >Livebook Teams is not only free but also open source, providing you
            with a powerful collaborative platform at no cost. We believe in the
            importance of accessible tools for knowledge sharing and
            collaboration</span
          >
        </div>
        <!--Is Livebook Teams Free to use? -->
        <div class="space-y-2">
          <a class="flex justify-between">
            <h3 class="faq-question-btn faq-questions text-gray-200">
              Is Livebook Teams Free to use?
            </h3>
            <Icon
              id="faqIconDown"
              icon="arrow-drop-down-line text-xl text-gray-200"
              class="hidden"
            />
            <Icon
              id="faqIconUp"
              icon="arrow-drop-up-line text-xl text-gray-200"
            />
          </a>
          <span class="faq-answer space-y-3 text-sm mt-1 text-gray-400"
            >Livebook Teams is not only free but also open source, providing you
            with a powerful collaborative platform at no cost. We believe in the
            importance of accessible tools for knowledge sharing and
            collaboration</span
          >
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".faq-question-btn").forEach((button) => {
      button.addEventListener("click", () => {
        const parent = button.parentElement.parentElement;
        const answer = parent.querySelector(".faq-answer");
        const iconDown = parent.querySelector("#faqIconDown");
        const iconUp = parent.querySelector("#faqIconUp");

        answer.classList.toggle("hidden");
        iconDown.classList.toggle("hidden");
        iconUp.classList.toggle("hidden");
      });
    });
  });
</script>
