---
import { isPathActive } from "../lib/utils.js";
---

<nav
  data-el-menu
  class="flex flex-col items-center space-y-10 text-xl text-gray-700 dark:text-gray-200"
>
  <a href="/">Home</a>
  <a href="/#install">Install</a>
  <a href="/#features">Features</a>
  <a
    href="/integrations"
    class:list={[
      {
        "border-b-2 border-gray-600": isPathActive("/integrations", Astro.url),
      },
    ]}
  >
    Integrations
  </a>
  <a
    href="/badge"
    class:list={[
      { "border-b-2 border-gray-600": isPathActive("/badge", Astro.url) },
    ]}
  >
    Badges
  </a>
  <a href="https://hexdocs.pm/livebook">Docs</a>
  <a
    class="announcekit-widget-mobile whitespace-nowrap"
    href="https://news.livebook.dev/"
  >
    What’s new?
  </a>
</nav>
