---
import Icon from "./Icon.astro";

export interface Props {
  dataVideoModal: string;
  videoURL: string;
}

const { dataVideoModal, videoURL } = Astro.props;
---

<div
  class="videomodal fixed inset-0 bg-black bg-opacity-75 flex justify-center items-center z-50 hidden"
  data-videomodal={dataVideoModal}
>
  <div class="relative bg-gray-200 rounded-lg w-full max-w-5xl">
    <button
      class="absolute top-2 right-2 close-videomodal"
      data-videomodal={dataVideoModal}
    >
      <Icon icon="close-circle-fill" class="text-3xl text-gray-100" />
    </button>
    <div class="p-1">
      <iframe
        class="w-full h-[576px]"
        src={videoURL}
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
