<div class="m-auto max-w-4xl p-4 mt-5">
  <div class="mt-4 w-full p-4 rounded-2xl bg-white">
    <img src="/images/window_buttons.png" alt="" width="36" height="8" />
    <div
      class="py-10 flex maxsm:flex-col flex-wrap md:flex-nowrap justify-center"
    >
      <!-- desktop app -->
      <div class="md:border-r md:pr-16">
        <div class="flex flex-nowrap">
          <img class="self-center" src="/images/desktop_download.svg" />
          <div class="self-center px-5 text-gray-700">
            <h2 class="font-semibold tracking-wide">
              Install the Livebook App
            </h2>
            <h3>to run it on your machine</h3>
          </div>
        </div>
        <div class="flex maxsm:flex-col md:flex-nowrap md:space-x-5">
          <!-- Mac (Universal) -->
          <a
            class="mt-10 px-5 py-2 button button-outlined-gray whitespace-nowrap"
            href="/releases/latest/LivebookInstall-latest-macos-universal.dmg"
            rel="noopener"
          >
            <img
              class="relative bottom-[2px]"
              src="/images/apple_line_gray.svg"
            />
            <span>Mac (Universal)</span>
          </a>
          <!-- Windows -->
          <a
            class="mt-10 button px-5 py-2 button-outlined-gray whitespace-nowrap"
            href="/releases/latest/LivebookInstall-latest-windows-x86_64.exe"
            rel="noopener"
          >
            <img src="/images/windows_line_gray.svg" />
            <span>Windows</span>
          </a>
        </div>
      </div>

      <!-- Run on the Cloud -->
      <div class="flex flex-col md:items-start md:ml-14 maxsm:mt-16">
        <div class="flex flex-nowrap min-w-[270px]">
          <img class="self-center" src="/images/run_on_cloud.png" />
          <div class="self-center px-5 text-gray-700">
            <h2 class="font-semibold tracking-wide">Run it on the cloud</h2>
            <h3>Launch it on</h3>
          </div>
        </div>
        <div class="flex maxsm:flex-col md:flex-nowrap md:space-x-5">
          <!-- fly.io -->
          <a
            class="mt-10 px-5 py-2 button button-outlined-gray"
            href="https://fly.io/launch/livebook"
            rel="noopener"
          >
            <img src="/images/flyio_logo.svg" class="w-[26px]" />
            <span>Run on Fly.io</span>
          </a>
          <!-- hugging face -->
          <a
            class="mt-10 px-5 py-2 button button-outlined-gray"
            href="https://huggingface.co/new-space?template=livebook-dev/livebook"
            rel="noopener"
          >
            <img src="/images/hugging_face_logo.svg" class="w-[26px]" />
            <span>Run on Hugging Face</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- other installs -->
<div class="m-auto max-w-4xl p-4">
  <div class="mb-10 m-auto">
    <div
      class="flex items-center max-w-[620px] rounded-lg border-gray-300 border-2 bg-gray-100 text-gray-700 py-4 px-5"
    >
      <img src="/images/information.svg" />
      <p class="ml-3 text-sm">
        To run on Linux, Docker, embedded devices, or Elixir’s Mix,
        <a
          href="https://github.com/livebook-dev/livebook#installation"
          class="border-b border-gray-700"
          >check our README</a
        >.
      </p>
    </div>
  </div>
</div>
