<div class="mt-15 md:mt-14 w-full">
  <div class="flex">
    <div
      class="bg-transparent p-10 rounded-l-md"
      style="border-right-width: 1px"
    >
      <img src="/images/icon_flyio.png" />
      <h2 class="mt-10">LAUNCH ON FLY.IO</h2>
      <p class="max-w-[600px] leading-7">
        It’s easy to get started with Livebook, weather it be on the cloud or
        your local machine.
      </p>
      <button
        class="mt-8 button p-10 py-[18px] button-blue"
        href="https://fly.io/launch/livebook"
        target="_blank"
        rel="noopener"
      >
        Launch on fly.io
      </button>
    </div>
    <div class="bg-transparent p-10 rounded-l-md">
      <img src="/images/icon_desktop.png" />
      <h2 class="mt-10">RUN ON YOUR MACHINE</h2>
      <p class="max-w-[600px] leading-7">
        It’s easy to get started with Livebook, weather it be on the cloud or
        your local machine.
      </p>
      <button
        class="mt-8 button p-10 py-[18px] button-blue"
        href=""
        target="_blank"
        rel="noopener"
      >
        Download the Desktop App
      </button>
    </div>
  </div>
  <div class="mt-10">
    <img src="/images/icon-information.png" />
    <p>To run on Docker, embedded devices, or Elixir’s Mix. Check Read Me</p>
  </div>
</div>
