<!-- Features -->
<section id="details" class="">
  <div
  class="m-auto max-w-4xl px-4 pt-12 pb-20 flex flex-col gap-12 md:gap-15">
    
    <!--feature one-->
    <div class="flex flex-col md:flex-row gap-12 md:gap-15 items-center justify-between">
      <div class="flex flex-col px-1 md:px-0 max-w-[400px]">
        <h3 class="text-2xl text-gray-800 font-semibold"> {{feature_01}} </h3>
        <span class="mt-4 text-lg text-gray-800"> {{description_01}}  </span>
      </div>
      <img
      class="max-h-[400px] order-1 md:order-none"
      src="{{img_features_01}}"
      alt="Feature Example"
      />
    </div>

    <!--feature two-->
    <div class="flex flex-col md:flex-row gap-12 md:gap-15 items-center justify-between">
      <img
      class="max-h-[400px] order-1 md:order-none"
      src="{{img_features_02}}"
      alt="Feature Example"
      />
      <div class="flex flex-col px-1 md:px-0 max-w-[400px]">
        <h3 class="text-2xl text-gray-800 font-semibold"> {{feature_02}} </h3>
        <span class="mt-4 text-lg text-gray-800"> {{description_02}}  </span>
      </div>
   
    </div>

    <!--feature three-->
    <div class="flex flex-col md:flex-row gap-12 md:gap-15 items-center justify-between">
      <div class="flex flex-col px-1 md:px-0 max-w-[400px]">
        <h3 class="text-2xl text-gray-800 font-semibold"> {{feature_03}} </h3>
        <span class="mt-4 text-lg text-gray-800"> {{description_03}}  </span>
      </div>
      <img
      class="max-h-[400px] order-1 md:order-none"
      src="{{img_features_03}}"
      alt="Feature Example"
      />
    </div>

    <!--feature four-->
    <div class="flex flex-col md:flex-row gap-12 md:gap-15 items-center justify-between">
      <img
      class="max-h-[400px] order-1 md:order-none"
      src="{{img_features_04}}"
      alt="Feature Example"
      />
      <div class="flex flex-col px-1 md:px-0 max-w-[400px]">
        <h3 class="text-2xl text-gray-800 font-semibold"> {{feature_04}} </h3>
        <span class="mt-4 text-lg text-gray-800"> {{description_04}}  </span>
      </div>
    </div>

    <!--feature five-->
    <div class="flex flex-col md:flex-row gap-12 md:gap-15 items-center justify-between">
      <div class="flex flex-col px-1 md:px-0 max-w-[400px]">
        <h3 class="text-2xl text-gray-800 font-semibold"> {{feature_05}} </h3>
        <span class="mt-4 text-lg text-gray-800"> {{description_05}}  </span>
      </div>
      <img
      class="max-h-[400px] order-1 md:order-none"
      src="{{img_features_05}}"
      alt="Feature Example"
      />
    </div>
          
  </div>
</section>

<!-- Sponsors -->
<section id="sponsors" class="bg-[#24175b]">
  <div class="m-auto max-w-7xl px-4 py-16 flex justify-center">
    <div class="flex flex-col items-center md:items-start">
      <img
        src="/images/flyio_logo_with_text.svg"
        alt=""
        width="160"
        height="45"
      />
      <span
        class="mt-5 text-2xl md:text-3xl font-semibold text-gray-100 text-center md:text-left"
      >
        Livebook is sponsored by
        <span class="inline-flex">
          <a class="border-b-4 border-gray-100" href="https://fly.io/">
            Fly.io
          </a>
          <i
            class="ri-external-link-line text-base font-normal leading-none"
          ></i>
        </span>
      </span>
    </div>
  </div>
</section>
