<a
  class="h-56 lg:h-48 p-4 rounded-lg flex items-end relative"
  href="https://www.youtube.com/watch?v={{{ yt_id }}}"
  style="
    background: linear-gradient(
        to bottom,
        rgba(13, 24, 41, 0.3),
        rgba(13, 24, 41, 0.98)
      ),
      url('https://i.ytimg.com/vi/{{{ yt_id }}}/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
  "
>
  <i
    class="
      hidden
      lg:block
      ri-play-circle-line
      text-gray-100 text-4xl
      absolute
      top-1/2
      left-1/2
      transform
      -translate-x-1/2 -translate-y-1/2
    "
  ></i>
  <div class="flex flex-col">
    <span class="text-gray-100 text-xs">{{ date_text }}</span>
    <h3 class="mt-1 text-gray-100 font-bold text-lg">{{ title }}</h3>
  </div>
</a>
