<a
  class="
    lg:col-span-2 lg:row-span-2
    h-56
    lg:h-auto
    p-4
    lg:p-6
    rounded-lg
    flex
    items-end
    relative
  "
  style="
    background: linear-gradient(
        to bottom,
        rgba(13, 24, 41, 0.3),
        rgba(13, 24, 41, 0.98)
      ),
      url('https://i.ytimg.com/vi/{{{ yt_id }}}/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
  "
  href="https://www.youtube.com/watch?v={{{ yt_id }}}"
>
  <i
    class="
      hidden
      lg:block
      ri-play-circle-line
      text-gray-100 text-6xl
      absolute
      top-1/2
      left-1/2
      transform
      -translate-x-1/2 -translate-y-1/2
    "
  ></i>
  <div class="flex flex-col">
    <span class="text-gray-100 text-xs">{{ date_text }}</span>
    <h3 class="mt-1 text-gray-100 font-bold text-lg lg:text-2xl">
      {{ title }}
    </h3>
  </div>
</a>
