/* === Menu === */

[data-el="menu-container"][data-menu-open] {
  @apply fixed z-50 top-0 bottom-0 left-0 right-0;
}

[data-el="menu-container"][data-menu-open] [data-on-menu="hide"] {
  @apply hidden;
}

[data-el="menu-container"]:not([data-menu-open]) [data-on-menu="show"] {
  @apply hidden;
}

/* === Tabs === */

[data-el="tab-content"]:not([data-tab-active]) {
  @apply hidden;
}

/* === Badge === */

[data-el="badge-button"]:not([data-badge-button-active]) {
  @apply border-transparent;
}

body:not([data-badge-ready]) [data-el="badge-result"] {
  @apply hidden;
}

/* === Run === */

body:not([data-run-ready]) [data-on-run-ready="show"] {
  @apply hidden;
}

body[data-run-ready] [data-on-run-ready="hide"] {
  @apply hidden;
}

/* === Settings === */

[data-el="livebook-status"]:not([data-status="up"]) [data-show-on-status="up"] {
  @apply hidden;
}

[data-el="livebook-status"]:not([data-status="checking"])
  [data-show-on-status="checking"] {
  @apply hidden;
}

[data-el="livebook-status"]:not([data-status="down"])
  [data-show-on-status="down"] {
  @apply hidden;
}

[data-el="livebook-url-input"][disabled] {
  @apply bg-gray-200;
}
