@layer utilities {
  .custom-shadow-1 {
    box-shadow: 0 15px 80px -10px rgba(13, 24, 41, 0.25);
  }

  .custom-shadow-2 {
    box-shadow: 0 15px 80px -10px rgba(13, 24, 41, 0.6);
  }

  .custom-drop-shadow-1 {
    filter: drop-shadow(10px 10px 60px rgba(0, 0, 0, 0.5));
  }

  .placeholder-font-light::placeholder {
    @apply font-light;
  }
}
